<section id="about">
<div class="container">
  <h3>Tim Macdonald</h3>
  <p class="lead text smaller">
  Praised for his "impressive and stylistically Scottish playing" (<a href="http://www.melindacrawford.com/">Melinda Crawford</a>)
  and heralded as "a <i>real</i> fiddler" (<a href="http://www.bonnierideout.com">Bonnie Rideout</a>), <a href="http://www.tsmacdonald.com">
  <b>Tim Macdonald</b></a> is a regular performer, composer, and teacher of Scottish-Baroque music.
  </p>

  <p class="lead text smaller">
  Tim is the first and only US National Scottish Fiddling Champion to win on a Baroque violin, and his performances with
  <a href="http://www.triosettecento.com/">Trio Settecento</a>, <a href="http://susiepetrov.com/">Susie Petrov</a>, <a href="http://newberryconsort.org/">
  The Newberry Consort</a>, <a href="http://www.scotsduo.com/">Colyn Fischer</a>, the <a href="http://www.bbensemble.org/">Bach and Beethoven
  Ensemble</a>, and many others have taken him from New York City's Frick Collection to the
  villages of Indonesia, countless country and contra dances, Scotland's Blair Castle, and beyond. Recent projects include
  helping to perform Scotland's first opera, <i>The Gentle Shepherd</i>, in full for the first time in over two centuries,
  lecturing on applying the rhetorical ideas of the Scottish Enlightenment to modern fiddling, playing fully-staged
  Elizabethan jigs, joining classical superstar <a href="http://rachelbartonpine.com/">Rachel Barton Pine</a> for an encore of
  traditional tunes following her performance of Bruch's <i>Scottish Fantasy</i>, and serving as music and dancing master at a
  thoroughly-researched recreation of a 1770s American tavern.  His radio appearances include WQXR classical radio (New
  York City), BBC Scotland's <i>Take the Floor</i>, and WBOM radio (Rockford, IL).
  </p>

  <p class="lead text smaller">
  In addition to performing, Tim runs a private teaching studio, is on faculty at <a href="http://www.jinkdiddle.com">
  The Jink and Diddle School of Scottish Fiddling</a>, and has given lectures on historic Scottish music at Wheaton College (IL), The
  National Centre of Excellence in Traditional Music (Plockton, Scotland), the Jane Austen Festival (Louisville, KY), and
  countless gatherings of living historians. His compositions have won first place at both Scottish FIRE Composition
  Competitions and are now available <a href="http://www.tsmacdonald.com/tunes.html">in print</a>. A "remarkably capable"
  scholar as well as a performer (<a href="http://www.wheaton.edu/Academics/Faculty/B/Johann-Buis">Johann Buis</a>),
  Tim was an Arthur and Lila Weinberg Fellow at the <a href="http://newberry.org/">Newberry Library</a> for the 2015-16
  academic year, where he researched the period-correct performance of Scottish-Baroque music, focusing on the work of
  Robert Mackintosh. He also plays the viola d'amore, harpsichord, piano, and English concertina, serves on the board of
  the <a href="http://www.greatlakesbaroque.org/">Great Lakes Baroque</a> (with Artistic Director
  <a href="http://www.joryvinikour.com/)">Jory Vinikour</a>) and on the leadership team of his local church, is an
  award-winning software developer, and ran the Chicago Marathon for charity.
  </p>

  <hr class="small">

  <h3>Jeremy Ward</h3>
  <p class="lead text smaller">
  <a href="http://jeremydavidward.com"><b>Jeremy David Ward</b></a> is a cellist whose musical inspiration and
  repertoire spans from Renaissance dance music to the post-tonal works of Saariaho and Dutilleux. As a performer of
  early bass instruments, he is a founding member of the 16th and  17th century brass and strings ensemble
  <a href="http://www.rookearlymusic.com/">Rook</a>.  Rook has performed at the Boston and Madison Early Music Fringe
  Festivals. It was also chosen to participate in Carnegie Hall’s Professional Training Workshop with L’Arpeggiata. In
  2014, the group held a weekend residency at Oberlin College Conservatory of Music and released its premier album,
  <a href="http://www.cdbaby.com/cd/rook4?SourceCode=widgetbaby"><i>Eleven</i></a>.  Jeremy also enjoys musicking with other
  early music ensembles such as <a href="http://www.tnrbaroque.org/">Three Notch’d Road</a> and
  <a href="http://newberryconsort.org/">The Newberry Consort</a>, where he has performed with historical performance
  luminaries Bruce Dickey, Paige Whitley-Bauguess and Tom Zajac. He is also a member of the Newberry Violin Band.
  </p>

  <p class="lead text smaller">
  His contemporary music collaborations have included performances with Chicago new music groups <a href="http://www.eighthblackbird.org/">
  Eighth Blackbird</a> and <a href="http://www.dalniente.com/">Dal Niente</a> as well as Chicago Opera
  Vanguard and members of the Pacifica Quartet. He was also a member of the ensemble Oberlin 21, with whom he recorded
  works of Debussy and Takamitsu with harpist Yolanda Kondonassis on the Telarc label.
  </p>

  <p class="lead text smaller">
  Jeremy is a guest lecturer at Wheaton Conservatory where he teaches historical performance practice. He is a graduate of
  Oberlin Conservatory of Music and Northwestern University’s Bienen School of Music and currently lives in and loves the
  great city of Chicago.
  </p>
</div>
</section>
