<section id="about">
<div class="container">
  <h3>Tim Macdonald</h3>
  <div class="lead text smaller">
    {% capture tim_bio %}{% include about_tim.md %}{% endcapture %}
    {{ tim_bio | markdownify }}
  </div>

  <hr class="small">

  <h3>Jeremy Ward</h3>
  <p class="lead text smaller">
  <a href="http://jeremydavidward.com"><b>Jeremy David Ward</b></a> is a cellist whose musical inspiration and
  repertoire spans from Renaissance dance music to the post-tonal works of Saariaho and Dutilleux. As a performer of
  early bass instruments, he is a founding member of the 16th and  17th century brass and strings ensemble
  <a href="http://www.rookearlymusic.com/">Rook</a>.  Rook has performed at the Boston and Madison Early Music Fringe
  Festivals. It was also chosen to participate in Carnegie Hall’s Professional Training Workshop with L’Arpeggiata. In
  2014, the group held a weekend residency at Oberlin College Conservatory of Music and released its premier album,
  <a href="http://www.cdbaby.com/cd/rook4?SourceCode=widgetbaby"><i>Eleven</i></a>.  Jeremy also enjoys musicking with other
  early music ensembles such as <a href="http://www.tnrbaroque.org/">Three Notch’d Road</a> and
  <a href="http://newberryconsort.org/">The Newberry Consort</a>, where he has performed with historical performance
  luminaries Bruce Dickey, Paige Whitley-Bauguess and Tom Zajac. He is also a member of the Newberry Violin Band.
  </p>

  <p class="lead text smaller">
  His contemporary music collaborations have included performances with Chicago new music groups <a href="http://www.eighthblackbird.org/">
  Eighth Blackbird</a> and <a href="http://www.dalniente.com/">Dal Niente</a> as well as Chicago Opera
  Vanguard and members of the Pacifica Quartet. He was also a member of the ensemble Oberlin 21, with whom he recorded
  works of Debussy and Takamitsu with harpist Yolanda Kondonassis on the Telarc label.
  </p>

  <p class="lead text smaller">
  Jeremy is a guest lecturer at Wheaton Conservatory where he teaches historical performance practice. He is a graduate of
  Oberlin Conservatory of Music and Northwestern University’s Bienen School of Music and currently lives in and loves the
  great city of Chicago.
  </p>
</div>
</section>
