<section id="about">
<div class="container">
  <h3>Tim Macdonald</h3>
  <div class="lead text smaller">
    {% capture tim_bio %}{% include about_tim.md %}{% endcapture %}
    {{ tim_bio | markdownify }}
  </div>

  <hr class="small">

  <h3>Jeremy Ward</h3>
  <p class="lead text smaller">
    As a player of bass instruments, <strong>Jeremy David Ward</strong> specializes in playing well
    with others. Whether Renaissance dance and consort music with the Newberry
    Violin Band or continuo with his 17th-century winds and strings band Rook, or the
    one-man rhythm-bass-harmony-countermelody in his 18th-century Scottish fiddle
    duo with award-winning fiddler Tim Macdonald, or modern cello collaborations
    with singer/songwriter Fernando Ortega, Jeremy delights in crafting foundations on
    which an ensemble can thrive. He is also the principal cellist of the Chicago Arts
    Orchestra which performs newly recovered pieces of the Mexican Baroque repertoire.
  </p>
  <p class="lead text smaller">
    Jeremy has also soloed vocally with the Newberry Consort as well as his duo Tim &amp;
    Jeremy. He has been a founder and organizer for the last three years of the Chicago
    folk music showcase The Midwest Sing and Stomp. He led a weekend residency at
    Oberlin Conservatory of Music in historical performance, and is in his 4th year of
    residency as a Guest Lecturer in Early Music at Wheaton Conservatory of Music. He
    is also on faculty at Triton College where he teaches cello and other music classes.
  </p>
</div>
</section>
