<section id="calendar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {% capture currentUnixTimestamp %}{{ "now" | date: "%s" }}{% endcapture %}

        <h2>Upcoming performances</h2>
        <table class="calendar">
          {%for event in site.data.calendar.last.events %}
            {% capture eventUnixTimestamp %}{{ event.date | date: "%s" }}{% endcapture %}

            {% if eventUnixTimestamp > currentUnixTimestamp %}
              {% include custom/calendar_event.html pastOrFuture="future" %}
            {% endif %}
          {% endfor %}
        </table>

        <div class="row">
          <h3><a href="http://eepurl.com/dDqtXr">Don't miss a show! Click here to sign up for our mailing list</a></h3>
        </div>
        <h2>Past performances</h2>
        {%for season in site.data.calendar reversed %}
          <h3 class="calendar-season-title">
            {{ season.season }}
            <span class="calendar-season-title-arrow">&#9656;</span>
          </h3>
          <div class="calendar-season">
            <table class="calendar">
              {%for event in season.events %}
                {% capture eventUnixTimestamp %}{{ event.date | date: "%s" }}{% endcapture %}
                {% if eventUnixTimestamp < currentUnixTimestamp %}
                  {% include custom/calendar_event.html pastOrFuture="past" %}
                {% endif %}
              {% endfor %}
            </table>
          </div>
        {% endfor %}

        <p>Interested in having Tim and Jeremy play at your event? <a href="#contact">Book them now!</a></p>
      </div>
    </div>
  </div>
</section>
