<section id="introduction" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2></h2>
        <p class="lead text">
          Tim Macdonald &amp; Jeremy Ward are a touring Scottish fiddle duo who
          combine traditional fiddling with historical scholarship to create a
          “cutting edge” musical experience that has been described as everything
          from “metal” to “baroque.” Using period instruments and mixing High
          Baroque chamber music with high-energy dance tunes, their
          18th-century Scottish aesthetic brings a fresh perspective to the
          tradition.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
