<section id="introduction" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2></h2>
        <p class="lead text">
          <b>Tim Macdonald &amp; Jeremy Ward</b> are a touring Scottish fiddle
          duo who combine traditional fiddling with his­torical scholarship to
          create a musical experience that has been described as everything from
          "cutting-edge" and "metal" to "classic" and "baroque". Using period
          instruments and mixing High Baroque chamber music with high-energy
          dance tunes, their music is at times soulful and at time electrifying,
          but always moving.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
