<li class="program-item row">
{% if piece.title %}
<p class={% if piece.text %}"text-center"{% endif %}>
  <span class="program-title">{{ piece.title }}</span>
</p>
{% endif %}

{% if piece.text %}
  {% if piece.translation %}
  <div class="col-sm-6">
  {% else %}
  <div class="col-sm-8 col-sm-offset-2">
  {% endif %}
  <pre class="program-text">{{ piece.text }}</pre>
</div>
{% endif %}

{% if piece.translation %}
<div class="col-sm-6">
  <pre class="program-text">{{ piece.translation }}</pre>
</div>
{% endif %}
</li>
<li class="separator row">
  &nbsp;
</li>
