<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <title>Tim Macdonald and Jeremy Ward: Streaming Live in Concert!</title>
  <meta property="og:url"                content="http://www.timandjeremy.com/live" />
  <meta property="og:type"               content="video.other" />
  <meta property="og:title"              content="Tim Macdonald & Jeremy Ward: Live!" />
  <meta property="og:image"              content="/img/bostoncommons.jpg" />

<body>

  {% include livevideo.html %}
  {% include donation.html %}

</body>

</html>
